streamlit==1.32.0
python-dotenv==1.0.1
sentence-transformers==2.5.1
langchain==0.2.14
langchain-core==0.2.34
langchain-text-splitters==0.2.2
langchain-community==0.2.12
langchain-pinecone==0.1.3
langchain-groq==0.1.9
langchain-huggingface==0.0.3
pypdf==4.3.1
torch==2.3.1
transformers==4.42.4
huggingface-hub==0.24.5
pinecone-client==5.0.0
tiktoken==0.7.0
numpy==1.26.4
pydantic==2.8.2
pydantic-core==2.20.1