streamlit
python-dotenv
pypdf
numpy
tiktoken
pinecone-client
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-pinecone
langchain-groq
sentence-transformers
transformers
huggingface-hub
torch
pydantic